
body {
    margin: 0;
    padding: 0;
}


/*-------------Finalizar--------------------*/
.finalizar-pedido {
    font-weight: bold;
     color: white;
 }


.selecionado{
border:  2px solid rgb(19, 179, 19);
box-sizing: border-box;
}
@media (max-width: 768px) {

.app{
    margin-top: 0;
}   
/*-------------top------------------------------*/
.top{
    background: #A70000;
    height: 94px;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;  
}

.top img{
    width: 27%;
    height: auto;
    margin-top: 2%;
    margin-left: 5%;
}
.top h1{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-size: 18px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2%;
}

/*-------------list-product--------------------*/
.list-product{
    margin-top:-1%;
    background: rgb(242, 239, 239);
    height: 1050px;
    margin-top: 23%;
}

.food, .drink, .dessert{
    display: flex;
    text-align: center;
    overflow: scroll;
    height: 250px;
    padding: 5%;
}
.title-food{
    padding-top: 3%;
    color:#A70000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 18px;
    margin-left: 5%;
}
.title{
    color:#A70000;
    margin-top: 3%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 18px;
    margin-left: 5%;
}

.card{
    background: white;
    border-radius: 9px;
    width: 210px;
    height: 230px;
    margin-right: 20px;
    text-align: center; 
   
    
}

.selecionado{
    border:  2px solid rgb(19, 179, 19);
    box-sizing: border-box;
    border-radius: 9px;
    width: 215px;
    height: 235px;
    margin-right: 20px;
    }


.card h1{
    font-size: 18px;  
}
.card h2{
    font-size: 16px;
    color: rgb(186, 184, 184);
}

.card p{
    font-size: 14px;
    font-weight: bold;
}

.card img{
    width: 144px;
    height: 87px;
    border-radius: 9px;
    margin-top: 4%;
}
/*-------------cart--------------------*/
.cart{
    margin-top: -8%;
    background: #A70000;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;  
    right: 0;
}
.cart h1{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 2%;     
    margin-right: 2%;    
}

.button{
    width: 200px;
    height: 50px;
    justify-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 35px;
    border: none;
}}

@media (min-width: 769px) {
/*-------------top------------------------------*/
.top{
    background: #A70000;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;  

}

.top img{
    width:13%;
    height: auto;
    margin-top:-1%;
    margin-right: 20px;
}

.top h1{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-size: 20px;
    margin-left: 5%;
    margin-top: auto;
    margin-bottom: auto;
}

/*-------------list-product--------------------*/
.list-product{
    background: rgb(242, 239, 239);
    height: 1400px;
    margin-top: 10%;
}

.food, .drink, .dessert{
    display: flex;
    text-align: center;
    overflow: scroll;
    height: 250px;
    padding: 5%;
    margin-top: -5%;
}
.title-food{
    padding-top: 3%;
    color:#A70000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 22px;
    margin-left: 5%;
    margin-bottom: 3%;
}
.title{

    color:#A70000;
    margin-top: 3%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 22px;
    margin-left: 5%;
    margin-bottom: 3%;
}

.card{
    background: white;
    border-radius: 9px;
    width: 220px;
    height: 230px;
    margin-right: 30px;
    
}
.selecionado{
    border:  2px solid rgb(19, 179, 19);
    box-sizing: border-box;
    border-radius: 9px;
    width: 225px;
    height: 235px;
    margin-right: 30px;
    }


.card h1{
    font-size: 20px;  
}
.card h2{
    font-size: 16px;
    color: rgb(186, 184, 184);
}

.card p{
    font-size: 14px;
    font-weight: bold;
}

.card img{
    width: 144px;
    height: 87px;
    border-radius: 9px;
    margin-top: 4%;
}
/*-------------cart--------------------*/
.cart{
    
    background: #A70000;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;  
}

.cart h1{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color:  rgb(79, 74, 74);
}

.button{
    width: 200px;
    height: 50px;
    margin-top: 2%;
    margin-bottom: 4%;
    border-radius: 35px;
    border: none;}
}
